<!-- Basic stuff -->
<meta charset="utf-8">
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="no-referrer-when-downgrade">

{{ partial "title.html" . }}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}">

{{ $css := resources.Get "css/main.css" }}
{{ if .Site.IsServer }}
{{ $style := $css | resources.PostCSS }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ else }}
{{ $style := $css | resources.PostCSS | minify  | fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}