<article class="post">
    <div class="post-header">
        <header>
            <h1 class="hdg hdg_2{{ if .Params.draft }} hdg-dark{{end}}"><a class="u-url" href="{{ .RelPermalink }}">{{ trim .Title " " }}</a></h1>
        </header>
    </div>

    {{ if not .Site.Params.disableSummary }}
        <div class="post-summary">
            {{ .Summary | safeHTML }}
        </div>
    {{ end }}
    {{ if and (.Truncated) (.Site.Params.readMore) }}
        <div class="read-more">
            <a href="{{ .RelPermalink }}">{{ i18n "readMore" }}</a>
        </div>
    {{ end }}

    {{ partial "post-info.html" . }}
</article>
