/* ref: https://coolors.co/ad343e-474747-f2af29-000000-e0e0ce */
/* SCSS HEX */
$CARDINAL: #ad343eff;
$DAVYS_GREY: #474747ff;
$HONEY_YELLOW: #f2af29ff;
$EGGSHELL: #e0e0ceff;

$COLOR_PRIMARY: $HONEY_YELLOW;
$COLOR_SECONDARY: $CARDINAL;
$COLOR_LIGHT: $EGGSHELL;
$COLOR_DARK: $DAVYS_GREY;

$COLOR_BLACK: #000000ff;
$COLOR_WHITE: #ffffffee;

$COLOR_BACKGROUND: $COLOR_LIGHT;

$FONT_SIZE_XXS: 12px;
$FONT_SIZE_XS: 14px;
$FONT_SIZE_S: 16px;
$FONT_SIZE_M: 18px;
$FONT_SIZE_L: 22px;
$FONT_SIZE_XL: 24px;
$FONT_SIZE_XXL: 28px;

$BASE_FONT_SIZE: $FONT_SIZE_M;

$FONT_WEIGHT_BOLD: 600;
$FONT_WEIGHT_HEAVY: 700;

$SPACING_HALFX: 5px;
$SPACING_1X: 10px;
$SPACING_2X: $SPACING_1X * 2;
$SPACING_3X: $SPACING_1X * 3;
$SPACING_4X: $SPACING_1X * 4;
$SPACING_5X: $SPACING_1X * 5;
